<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majedalmoqbeli.medicalnewapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bgblue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.BootingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ConsultationCommentActivity" />
        <activity android:name=".ui.activities.EditProfileActivity" />
        <activity android:name=".ui.activities.ProfileDocActivity" />
        <activity android:name=".ui.activities.WelcomeActivity" />
        <activity android:name=".ui.activities.SingleFragmentActivity" />
        <activity android:name=".ui.activities.CreateAccountActivity" />
        <activity android:name=".ui.activities.CreateDoctorAccountActivity" />
        <activity android:name=".ui.activities.CreateUserAccountActivity"></activity>
    </application>

</manifest>